
<div class="panel-heading">
  <div class="row">
    <div class="col col-xs-6">
      <h3 class="panel-title"><%= current_user.email %></h3>
    </div>
    <div class="col col-xs-6 text-right">
      <a type="button" class="btn btn-sm btn-primary btn-success" <%= link_to "Create new Project", new_project_path %></button>
    </div>
  </div>
</div>



<% User.find(current_user).project do |post| %>


<div class="content-box-large">

  <div class="row">

    <div class="col-sm-6">
      <img class="img-fluid" <%= image_tag post.image %>
    </div>

    <div class="col-sm-6">



      <div class="content-box large">

        <h3><%= post.title %></h3>
        <h3 class="block green-700 js-pledged medium type-16 type-24-md"> $ <%= post.collected %></i></h3>

        <span class="block navy-600 type-12 type-14-md lh3-lg">
          pledged of <span class="money">$<%= post.pledge %></span> <span class="mobile-hide">goal</span>
        </span>



        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:<%= post.calculateProgress %>%">
            <%= post.calculateProgress %>%Complete (success)
          </div>
        </div>

        <a href="#<%=post.title%>" class="btn btn-danger btn-block" data-toggle="modal">Delete Project</a>
        <div id="<%=post.title%>" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                Are you sure you want to delete the project <%= post.title%>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-danger" <%= link_to "Delete", dest_project_path(post) %></button>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>




    <div class="col-sm-12">
      <p>  <%= post.body %> </p>
    </div>
  </div>

</div>





<% end %>