
<h2> This post has <%= pluralize(@project.donations.count, "Donation") %> </h2>


<% @project.donations.each do |donation| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong> <%= donation.user.email %> </strong>
        <span class="date">Donated <%= time_ago_in_words(donation.created_at) %> </span>
      </div>
      <div class="panel-body">
        <%= donation.pledge %>
        <%= link_to "Delete comment", [donation.project, donation], method: :delete %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->

<% end %>


<%= render 'donations/form' %>