<h1>New project </h1>

<%= bootstrap_form_for(@project) do |f| %>
    <%= f.number_field :pledge, min: 1, label: t("links.goal") %>
    <%= f.text_field :title, hide_label: true, placeholder: "Wrire Project name..." %>
    <%= f.text_area :body, hide_label: true, placeholder: "Wrire description..." %>
    <%= f.file_field :image, accept:'image/png', label: t("links.image") %>
    <%= f.date_select :lastDate, start_year: Date.today.year, label: t("links.days_to_go") %>



    <%= f.submit t("projects.create_new")%>




<% end %>

