<h2> <%= t("links.log_in") %> </h2>
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-size">
    <%= f.label t("devise.email") %><br />
    <%= f.email_field :email, autofocus: true, hide_label: true%>
  </div>

  <div class="field form-size">
    <%= f.label t("devise.password") %><br />
    <%= f.password_field :password, autocomplete: "off", hide_label: true %>
  </div>

  <div class="actions form-size">
    <%= f.submit t("links.sign_in") %>
  </div>
<% end %>

<div class="field form-size">
  <%= render "devise/shared/links" %>
</div>